* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/*
.form {
    display: flex !important;
    flex-direction: row !important;
    justify-content: end !important;
}
*/
.app__form {
    padding: 20px;
    margin: 20px;
    z-index: 1;
    background-color: #e9e9eb;
    width: calc(100% - 40px);
}

.app__formControl {
    display: flex !important;
    flex-direction: row !important;
}

.app__input {
    flex: 1;
}

.app__iconButton {
    flex: 0;
}

.app__messages {
    overflow-y: scroll;
    height: 100%;
}

.app__messages::-webkit-scrollbar {
    display: none;
}

.app__header {
    padding: 20px 0;
}

.app__header span {
    color: rgba(0, 0, 0, 0.5);
}
